* {
  margin: 0;
  padding: 0;
}

#menubar{
  box-sizing: border-box;
  width: 100vw;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(188, 14, 14);
}
#menubar h1{
  color: white;
}

#menuItems #items{
  display: inline-block;
  display: flex;
  /* gap: 2em; */
  align-items: center;
}

#menuItems ul li{
  padding: 15px;
  
  list-style-type: none;
  color: white;
  height: 100%;
}

#menuItems li:hover{
  background-color: red;
}

#dropdown-btn{
  position: relative;
}

#dropdown-btn a{
  color: white;
  text-decoration: none;
}
#dropdown-btn ul{
  margin-top: 1em;
  background-color: black;
  position: absolute;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: start;
  display: none;
  right: 0;
  /* max-width: calc(100vw - 100%); */
}

#dropdown-btn ul li{
  padding: 23px;
  border-bottom: 1px solid white;
  margin: 0;
}
#dropdown-btn:hover ul{
  display: block;
}

#dropdown-btn ul li:hover{
  background-color: aqua;
}